@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Titillium+Web:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Titillium Web', sans-serif;
  @apply text-slate-500;
}

.logo-text {
  font-family: 'Bungee Spice', cursive;
  @apply font-bold;
}

.btn {
  @apply shadow-none min-w-0;
}

.centered {
  @apply max-w-6xl w-full mx-auto md:w-5/6;
}

.typewriter {
  @apply w-full border-r border-slate-500 my-[30px] overflow-hidden;
  white-space: nowrap;
  animation: type 3s steps(23) 2s both, blink 0.7s infinite;
}

@keyframes type {
  from {
    width: 0;
  }
  to {
    width: 270px;
  }
}

/* @keyframes delete {
  from {
    width: 290px;
  }
  to {
    width: 0;
  }
} */
@keyframes blink {
  from {
  }
  to {
    border-right-color: transparent;
  }
}


.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use {
  animation-delay: -3s;
  animation-duration: 10s;
}


@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}