@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Inter:wght@400;500;600;700&display=swap');

.default-gradient {
  background: 0% 0%/auto auto linear-gradient(58deg, rgba(255, 69, 0, 0.48) 0%, rgba(249, 195, 0, 0.47) 13%, rgba(202, 199, 255, 0.44) 36%, rgba(228, 235, 252, 0.53) 48%, rgba(142, 189, 202, 0.3) 59%, rgba(142, 189, 202, 0.365) 76%, rgba(202, 199, 255, 0.27) 86%, rgba(142, 136, 225, 0.76) 99%), #FFFFFF;
}

.body-gradient {
  background: radial-gradient(circle at 3.6751302083333335% 6.940104166666666%, #4D6001 0%, 11.55%, rgba(77,96,1,0) 35%), radial-gradient(circle at 92.96712239583333% 9.554036458333332%, #FAAA63 0%, 17.5%, rgba(250,170,99,0) 35%), radial-gradient(circle at 95.20670572916666% 90.48177083333333%, #C9C6FF 0%, 34.1%, rgba(201,198,255,0) 55%), radial-gradient(circle at 4.313151041666666% 93.34635416666667%, #97B49D 0%, 29.900000000000002%, rgba(151,180,157,0) 65%), radial-gradient(circle at 46.555989583333336% 11.50390625%, rgba(214,222,72,0.99) 0%, 25%, rgba(214,222,72,0) 50%), radial-gradient(circle at 51.121419270833336% 89.98697916666667%, #93C3FF 0%, 42%, rgba(147,195,255,0) 70%), radial-gradient(circle at 48.9013671875% 49.521484375%, #FFFFFF 0%, 100%, rgba(255,255,255,0) 100%);
}


body {
  @apply text-slate-600;
}

body, button {
  font-family: 'Inter', sans-serif;
}